<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FCMB.BVNMiddleWareService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="flexxMin" value="16" />
    <add key="flexxMax" value="30" />
	<add key="flexx" value="SB127" />
    <add key="kids" value="SB126" />
    <add key="esaving" value="SB114" />
    <add key="AppId" value="fcmb.online.account" />	
    <add key="AppKey" value="3151-f6KNDM88jwtrpHtCsZ76a011dXbvtKJpxmgzR2373Wlm8UFW" />
	<add key="owin:AppStartup" value="false"/>
	<add key="owin:AutomaticAppStartup" value="false"/>
    <add key="FromAddress" value="ebusiness@fcmb.com" />
    <add key="SmtpServer" value="172.27.15.18" />
    <add key="SMTPURLLive" value="http://172.27.12.123/UserManagerService/UserUtilityService.asmx" />
    <add key="SMTPURLTest" value="http://172.27.15.103/UserManagerServiceTest/UserUtilityService.asmx" />
    <add key="AccountLogFile" value="~\Err0r\New3rr01\AccountLog.txt" />
    <add key="ServiceErrorLogFile" value="~\Err0r\New3rr01\Errorlog.txt" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="IsLive" value="Y" />
    <add key="OneTimeMultipleBVNCount" value="20" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EmailServer" value="172.27.15.18" />
    <add key="AlertRecipient" value="businessautomation@fcmb.com" />	
    <add key="CheckDuud" value="N" />
	<add key="CCAddress" value="wasiu.isiaka@fcmb.com,seun.lawal@fcmb.com,mathew.odole@fcmb.com,Charlotte.evbota@fcmb.com,lolade.oyekumbi@fcmb.com,Babajide.Otitoola@fcmb.com,Akintomiwa.Akinola@fcmb.com,cynthia.okolo@fcmb.com,olukunle.ayodabo@fcmb.com"/>
	
	<add key="WathListUrlTest" value="http://172.27.15.103/BVNWatchlistService/api/" />
	<add key="WathListUrl" value="http://172.27.15.103/BVNWatchlistService/api/" />
    <add key="ResUrlTest" value="CheckWatchlist" />
	<add key="AuthIdTest" value="AccOpening01" />
	<add key="AuthKeyTest" value="0c819cc8b5ab98bd0d748936ea54994d" />
	<add key="AuthId" value="AccOpening01" />
	<add key="AuthKey" value="0c819cc8b5ab98bd0d748936ea54994d" />
	
	<add key="SmsAppKey" value="df21b0f54fa4a3e1edb69881a74de741142f2342" />
    <add key="SmsAppId" value="SMEOAO" />
    <add key="SmsEndpointAddress" value="http://172.27.12.123/SmsInterfaceService/SmsInterface.asmx" />
	<add key="BvnValidationAppId" value="ACTOPN" />
    <add key="BvnValidationAppKey" value="F05420F484654312B04ADBE609002577" />
	<add key="CreateWalletFlag" value="N" />
	<!--<add key="SMEIntegrifyServiceURL" value="https://int-mobilet.fcmb.com/instances/3670bb65-a645-4ccb-afe3-d789a7bed71e/start" /> -->
	<!--<add key="SMEIntegrifyServiceURL" value="https://int-mobilet.fcmb.com/instances/4cd94c99-253e-497b-a382-eef44c77d972/start" /> -->
<!-- <add key="SMEIntegrifyServiceURL" value="https://int-mobilet.fcmb.com/instances/4cd94c99-253e-497b-a382-eef44c77d972/start?key=AgencyBankingKEY&token=fb04505f067c499fabd36ff7a453d5be" />    -->

  </appSettings>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>MyXC5YEySnxDfjlE3KjhnvwG8CCftHAiTp7xcRa/xWEilT9P4LRObFukemfHUOaJLYBKMwJtrStCMLhSiZYt0ebMq6n8+jWD3/W26yP6dksseugTKwT34eaLqeAPBre2W9ixgN20I/JPOrOq1NFFs/TCPTeE64B6g0QdUPHjvPg=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>YZYvjmPFJDSDSTgQmvn5Ufd1zx4SfunbTzm0eyYq+MhLxAElfIDdXcW5TWYzlCHx1WhzzKBZmcEtOClODMz88JD7zO2OCm43hk/5m9B884B8WyVIAU6LxkW/bkn4R7Z2F5DpAd8tX3DO/jBJ0fOs7H+cppqhnW7bfywjgGqL0XdrHIRtUf6MExnE/r+iUV+CDuTWXmvmbmnjyamTN8gYsWyY8CelXE2Nxm7GZkE/vXRwbC0Ue0MMzZCae3d+1x0UP9mU3w2weCx+L29YKgB0UIwm8yFUvoWsH8cVleXkQHqayPP8klXk70q86Hm3hK9JQVj2YHLq50TKLTVv2uAmeEcjFJNZISfZx3pw27xfjZWPbh70O0iq2dGnU41KtJBMLEYoYkHGlrq608uw1xN+72fbTDcGM2WDJcT39lJXn9JHoFma9BXFSGzKKYBgopVwGpMMnNoTTeAwpWdSd/w40emOEV/NGrP1bhU5WIaZ65KWnJRKyJInW4zwtRTNitqGpKXwkk+xLGcKw4j6V+GPsg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
          <customErrors mode="Off"/>
    <compilation targetFramework="4.5" />
    <httpRuntime />
     <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
	<!--<modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="FormsAuthentication" />
    </modules>-->
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />-->
		<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <FCMB.BVNMiddleWareService.Properties.Settings>
      <setting name="FCMB_BVNMiddleWareService_BVNValidation_BVNValidation" serializeAs="String">
        <value>http://172.16.10.6/BVNValidationV2/BVNValidation.asmx</value>
      </setting>
      <setting name="FCMB_BVNMiddleWareService_UserServiceUtility_UserUtilityService" serializeAs="String">
        <value>http://172.27.15.103/UserManagerServiceTest/UserUtilityService.asmx</value>
      </setting>
	  <setting name="FCMB_BVNMiddleWareService_WalletWebReference_Service" serializeAs="String">
       <value>http://172.27.8.224:8070/WalletServices.svc</value>
      </setting>
    </FCMB.BVNMiddleWareService.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" maxReceivedMessageSize="2147483647"/>
        <binding name="AccountCreatePortBinding" maxReceivedMessageSize="2147483647"/>
        <binding name="AccountUpdatePortBinding" maxReceivedMessageSize="2147483647"/>
        <binding name="FIServiceSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="AccountCreatePortBinding1" maxReceivedMessageSize="2147483647"/>
        <binding name="AccountUpdatePortBinding1" maxReceivedMessageSize="2147483647"/>
		<binding name="CorpAccountCreatePortBinding" maxReceivedMessageSize="2147483647" />
        <binding name="CorpAccountUpdatePortBinding" maxReceivedMessageSize="2147483647" />
		<binding name="FIServiceSoap1" maxReceivedMessageSize="2147483647" />
        <binding name="CorpAccountCreatePortBinding1" maxReceivedMessageSize="2147483647" />
        <binding name="CorpAccountUpdatePortBinding1" maxReceivedMessageSize="2147483647" />		
        <binding name="SmsInterfaceSoap" maxReceivedMessageSize="2147483647"  />
      </basicHttpBinding>
    </bindings>
	<client>
      <endpoint address="http://172.27.12.123/FI/fiservice.asmx" binding="basicHttpBinding" bindingConfiguration="FIServiceSoap" contract="FinacleFIService.FIServiceSoap" name="FIServiceSoap" />
      <endpoint address="http://172.27.12.64:8095/IntegrifyFI_2/AccountCreate" binding="basicHttpBinding" bindingConfiguration="AccountCreatePortBinding1" contract="AccountCreateService.AccountCreate" name="AccountCreatePort" />
      <endpoint address="http://172.27.12.64:8095/IntegrifyFI_2/AccountUpdate" binding="basicHttpBinding" bindingConfiguration="AccountUpdatePortBinding1" contract="AccountUpdateService.AccountUpdate" name="AccountUpdatePort" />
	  <endpoint address="http://172.27.12.64:8095/IntegrifyFI_Plus/services/CorpAccountCreate" binding="basicHttpBinding" bindingConfiguration="CorpAccountCreatePortBinding" contract="CorpAccountCreate.CorpAccountCreate" name="CorpAccountCreatePort" />
      <endpoint address="http://172.27.12.64:8095/IntegrifyFI_Plus/services/CorpAccountCreate" binding="basicHttpBinding" bindingConfiguration="CorpAccountUpdatePortBinding" contract="CorpAccountUpdate.CorpAccountUpdate" name="CorpAccountUpdatePort" />
   
      <endpoint address="http://172.27.12.123/ifi/FIService.asmx" binding="basicHttpBinding" bindingConfiguration="FIServiceSoap1" contract="FinacleFIUATService.FIServiceSoap" name="FIServiceSoap1" />
      <endpoint address="http://172.27.12.64:8095/INTGPLUS2/services/CorpAccountCreate" binding="basicHttpBinding" bindingConfiguration="CorpAccountCreatePortBinding1" contract="SMECorpAccountCreate.CorpAccountCreate" name="CorpAccountCreatePort1" />
      <endpoint address="http://172.27.12.64:8095/INTGPLUS2/services/CorpAccountUpdate" binding="basicHttpBinding" bindingConfiguration="CorpAccountUpdatePortBinding1" contract="SMECorpAccountUpdate.CorpAccountUpdate" name="CorpAccountUpdatePort1" />
   <endpoint address="http://172.27.12.123/SmsInterfaceService/SmsInterface.asmx"
        binding="basicHttpBinding" bindingConfiguration="SmsInterfaceSoap"
        contract="SendSmsService.SmsInterfaceSoap" name="SmsInterfaceSoap" />
   </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: {3D9E47C5-7311-4CE9-8A03-85A5A48EFE39} http://172.27.12.64:8095/IntegrifyFI/AccountCreate  http://172.27.12.64:8095/IntegrifyFI/AccountUpdate http://172.27.15.103/SITFI/fiservice.asmx -->