<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>
<table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td valign="top"><table  border="0" width="650" cellpadding="0" cellspacing="0" align="center">
				<tr style="background-color:#FFFFFF;">
					<td bgcolor="#FFFFFF" style="vertical-align:top;" ><img src="http://74.208.224.205/images/FCMB New Account Opened/FCMB_Automated-Acceptance.jpg" alt="New Account Opened" width="650" height="383" border="0" style="display:block;" /></td>
				</tr>
                	<tr>
					<td style="vertical-align:top;"></td>
				</tr>
			</table>
			<table width="590" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td width="580" valign="top" style="padding-bottom: 10px; padding-top: 20px;"><span style="color:#58595b; font-size: 15px; font-family:Verdana, sans-serif; line-height:20px; margin-bottom:20px;">
Dear {Title, customer full name},

<strong><br>
<br>
WELCOME! YOUR NEW ACCOUNT HAS BEEN OPENED.</strong>

<br>
<br>
We are pleased to inform you that your new FCMB {AccountType} account is now open.<br>
<br>
Your account number is: <strong>{AccountNumber}</strong>

<br>
<br>
You will soon receive an additional email from us which will tell you how to download <strong>FCMBMobile</strong> onto your phone. You have been automatically registered for <strong>FCMBOnline</strong> and you should receive your username and password within 24 hours.<br>
<br>
Please note that your account has a maximum single transaction limit of <strong>N20, 000.00</strong> and the total account balance should not exceed <strong>N200, 000.00</strong><br>
<br>
You can now operate your account by visiting any FCMB branch to fund your account or by transferring funds directly to your e-savings account.  We will notify you by email and SMS when your debit MasterCard is ready for pick up from your preferred branch.<br>
<br>
We will let you know when you are reaching the stated limit and advise you of the requirements needed to upgrade your account.<br>
<br>
However, when you need to transact with a higher value you can also contact us for the upgrade.<br>
<br>
Thank you for choosing <strong>FCMB... My Bank and I</strong>

<br>
<br>
Yours sincerely,

<br>
<br>
Moronfolu Fasinro <strong><br>
Group Head, Customer Service Management</strong><br>
          <br>
        </span></td>
        </tr>
    </table>
</td>
    </tr>
    <tr>
      <td valign="top" class="footer"><img src="http://74.208.224.205/images/FCMB New Account Opened/my-bank-bar.jpg" width="650" height="51" alt="" style="display:block;"/ ></td>
    </tr>
    <tr>
      <td valign="top" class="footer"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:#dad9dc solid 1px;">
        <tbody>
          <tr>
            <td valign="top" ><img src="http://74.208.224.205/images/FCMB New Account Opened/Investor-Relations-Version-04_05.jpg" width="500" height="51" alt=""/></td>
            <td valign="top"><a href="https://www.facebook.com/fcmbmybank"><img src="http://74.208.224.205/images/FCMB New Account Opened/fb.jpg" width="40" height="51" alt="" border="0"/></a></td>
            <td valign="top"><a href="https://twitter.com/myfcmb"><img src="http://74.208.224.205/images/FCMB New Account Opened/tw.jpg" width="36" height="51" alt="" border="0"/></a></td>
            <td valign="top"><a href="http://www.linkedin.com/company/first-city-monument-bank-ltd?trk=tyah"><img src="http://74.208.224.205/images/FCMB New Account Opened/li.jpg" width="74" height="51" alt="" border="0"/></a></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
    <tr>
      <td valign="top" class="footer" style="border-bottom:#dad9dc solid 1px;"><table width="574" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
          <tr>
            <td valign="top" style="padding: 20px 0 20px 0;"><span style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; color:#575756; line-height: 18px;">For more information, please call our 24/7 Contact Centre on 012798800<br>
              Alternatively send an email to <a href="mailto:customerservice@fcmb.com" style="color: #575756; text-decoration:none;"><strong>customerservice@fcmb.com</strong></a><br>
                  <br>
                Copyright &copy; 2015 First City Monument Bank Limited | <a href="http://www.fcmb.com" style="color: #575756; text-decoration:none;" ><strong>www.fcmb.com</strong></a></span></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>
</body>
</html>
